<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <default>
        <pickrr>
            <title>Pickrr</title>
            <platform>Magento2</platform>
            <active>1</active>
            <automatic_export_enable>0</automatic_export_enable>
            <api_key>API_Key</api_key>
            <api_secret>API_Secret</api_secret>
        </pickrr>
    </default>
</config>